@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
@import 'tailwindcss';

@theme {
  --font-family-sans: 'Geist', sans-serif;
}

@layer base {
  html,
  body {
    @apply font-light;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
  }

  #root {
    width: 100%;
    min-height: 100vh;
  }

  * {
    box-sizing: border-box;
  }
}

@layer components {
  .wrapper {
    @apply w-full max-w-5xl mx-auto px-6 md:px-[100px];
  }
}
